@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
    --text-color: #333;
    --light-gray: #cacaca;
    --orange-light: #F7B045;
    --orange: #ff9900;
    --orange-dark: #E1670E;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    margin: 0;
}

section {
    padding-top: 5.6%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

input {
    border: none;
}

.container {
    box-sizing: initial;
    max-width: 1770px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.heading {
    font-size: 48px;
    line-height: 59px;
    font-weight: 400;
    color: var(--text-color);
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}

.desc {
    line-height: 2em;
    color: var(--text-color);
}

.btn {
    font-weight: 700;
    color: #fff;
    background-color: var(--orange);
    border: none;
}

.nav_style {
    transition: color 300ms;
}

.nav_style:focus {
    outline: 2px solid var(--orange);
}

.nav_style:hover {
    color: var(--orange);
}

.nav_style:active {
    color: var(--orange-dark);
}

/* Header */

.header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1772px;
    height: 100%;
} 

.burger {
    display: none;
}

.nav {
    font-size: 18px;
    font-weight: 600;
}

.drop-menu {
    display: none;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 46.3%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89.3%;
}

.nav__item {
    margin-right: 10px;
}

.nav__link {
    color: var(--text-color);
    line-height: 22px;
    padding: 5px 2px 7px 2px;
}

.nav__link:hover {
    color: var(--text-color);
    border-bottom: 2px solid var(--orange);
}

.nav__link:active {
    color: var(--orange-dark);
    border-bottom: 2px solid var(--orange-dark);
}

.search {
    display: none;
    position: relative;
    width: 1px;
    height: 32px;
}

.search__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: -14px;
    right: -55px;
    width: 500px;
    height: 60px;
    padding: 16px 10px 16px 32px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}

.search__field {
    width: 412px;
    margin-right: 14px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    color: #adadad;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
    cursor: text;
}

.search__submit {
    width: 24px;
    height: 24px;
    padding: 0;
    background: url(../img/search_active.svg) center center no-repeat;
    border: none;
    cursor: pointer;
}

.nav__search-icon {
    display: inline-block;
    padding: 2px 2px 0 2px;
}

.nav__search-icon:hover rect {
    fill: var(--orange);
}

.nav__search-icon:hover path {
    stroke: var(--orange);
}

/* Hero */

.hero {
    position: relative;
    padding: 5.7% 4.5%;
    color: #fff;
}

.swiper {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide_1 {
    background-image: url(../img/hero1.jpg);
}

.swiper-slide_2 {
    background-image: url(../img/hero2.jpg);
}

.swiper-slide_3 {
    background-image: url(../img/hero3.jpg);
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 28px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 10px;
}

.swiper-pagination-bullets {
    --swiper-pagination-bullet-width: 15px;
    --swiper-pagination-bullet-height: 15px;
    --swiper-pagination-bullet-size: 15px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: .4;
}

.swiper-pagination-bullet-active {
    --swiper-theme-color: #fff;
}

.hero__box {
    position: relative;
    max-width: 53%;
    height: 100%;
    z-index: 2;
}

.hero__heading {
    margin-bottom: 24px;
    font-size: 70px;
    font-weight: 800;
    line-height: 1.22em;
}

.hero__desc {
    margin-bottom: 90px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
}

.hero__btn {
    padding: 25px 39px;
    font-size: 23px;
    transition: background-color 300ms linear;
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: rgba(255, 153, 0, .7);
}

.hero__btn:active {
    background-color: var(--orange-dark);
}

/* About */

.about__heading {
    margin-bottom: 9px;
}

.about__desc {
    max-width: 70%;
    margin-bottom: 50px;
}

.about__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 622px;
}

.about__item {
    max-width: 49%;
}

.about__item_head {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 622px;
    margin-right: 32px;
    background: url(../img/us.jpg) center center no-repeat;
    background-size: cover;
}

.about__item_mini {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 47.5%;
    padding: 2% 3.4%;
    background-color: #fff;
    border: 1px solid var(--light-gray);
}

.about__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .5);
}

.about__item-desc_head {
    max-width: 60%;
    color: #fff;
}

.about__icon {
    width: 190px;
    height: 165px;
    margin-right: 50px;
}

.about__icon_1 {
    background: url(../img/Frame16.png) center center no-repeat;
    background-size: contain;
}

.about__icon_2 {
    background: url(../img/Frame12.png) center center no-repeat;
    background-size: contain;
}

.about__item-desc {
    max-width: 64%;
}

.about__btn {
    padding: 20px 35px;
    background-color: transparent;
    border: 3px solid var(--orange);
    transition: background-color 300ms linear, border-color 300ms linear;
}

.about__btn:hover,
.about__btn:focus {
    background-color: var(--orange);
}

.about__btn:active {
    background-color: var(--orange-dark);
    border-color: var(--orange-dark);
}

/* Work */

.work__heading {
    margin-bottom: 45px;
}

.tabs {
    font-family: inherit;
}

.ui-widget.ui-widget-content {
    border: none;
    padding: 0;
}

.ui-tabs .ui-tabs-nav{
    padding: 0;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    display: none;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.tabs__list {
    display: flex;
    justify-content: space-between;
    width: 26%;
    border: none;
    background: none;
}

.tabs__item {
    font-size: 18px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 3px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: var(--orange-dark);
}

.ui-state-hover a, .ui-widget-content .ui-state-hover a, .ui-widget-header .ui-state-hover a, .ui-button:hover a {
    color: var(--orange);   
}

.ui-tabs .ui-tabs-panel {
    display: flex;
    justify-content: space-between;
    min-height: 512px;
    padding: 47px 0 0 0;
}

.ui-widget-content .tabs__left .tabs__btn {
    color: #fff;
}

.tabs__left {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 43%;
}

.tabs__right {
    width: 49%;
    margin-left: auto;
    padding-top: .5%;
}

.tabs__desc {
    margin-bottom: 6.6%;
}

.tabs__btn {
    display: inline-block;
    padding: 22px 38px;
    transition: background-color 300ms;
}

.tabs__btn:hover,
.tabs__btn:focus {
    background-color: var(--orange-light);
}

.tabs__btn:active {
    background-color: var(--orange-dark);
}

.tabs__btn_clear {
    display: inline-block;
    margin-left: 32px;
    padding: 21px 37px;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
    transition: color 300ms, background-color 300ms, border-color 300ms;
}

.tabs__btn_clear:hover,
.tabs__btn_clear:focus {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

.tabs__btn_clear:active {
    color: #fff;
    background-color: #000;
}

.tabs__img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.tabs__img_1 {
    background: url(../img/work1.jpg) center right no-repeat;
    background-size: cover;
}

.tabs__img_2 {
    background: url(../img/work2.jpg) center center no-repeat;
    background-size: cover;
}

.tabs__img_3 {
    background: url(../img/work3.jpg) center center no-repeat;
    background-size: cover;
}

.tabs__img_4 {
    background: url(../img/work4.jpg) center center no-repeat;
    background-size: cover;
}

/* FAQ */

.faq__heading {
    margin-bottom: 32px;
}

.ac {
    min-height: 110px;
    margin: 0 0 -1px 0;
    z-index: 1;
    border: none;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray); 
    transition: border-color 300ms; 
}

.ac .ac-header {
    padding: 30px 0;
}

.ac .ac-trigger {
    padding: 10px 60px 10px 0;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    transition: color 300ms;
}

.ac .ac-trigger:focus {
    color: var(--orange);
}

.ac .ac-trigger::after {
    content: "";
    width: 50px;
    height: 50px;
    top: 25px;
    right: 0;
    background: url(../img/+х.svg) center center no-repeat;
}

.ac:hover {
    z-index: 10;
    border-color: var(--orange);
    position: relative;
}

.ac:hover .ac-trigger { 
    color: var(--orange); 
}

.ac:hover .ac-trigger::after {
    background-image: url(../img/+х_hover.svg);
}

.ac.is-active>.ac-header .ac-trigger::after {
    content: "";
    top: 0;
    transform: rotate(45deg);
    transform-origin: center;
}

.ac__desc {
    width: 60%;
    margin: 30px 0 10px 0;
}

/* Footer*/ 

.footer {
    height: 594px;
    background-color: #222;
    margin-top: 5.1%;
    padding: 2.2% 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1773px;
    height: 100%;
}

.column_left {
    width: 20%;
    margin-right: 2.8%;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 19px;
    padding-top: 2.5%;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 79.5%;
}

.footer__nav-link {
    padding: 3px;
    color: var(--light-gray);
    font-size: 18px;
    line-height: 2em;
    font-weight: 600;
}

.social {
    display: flex;
}

.social__item:not(:last-child) {
    margin-right: 18px;
}

.social__link {
    display: inline-block;
    padding: 3px 3px 1px 3px;
}

.social__link path {
    transition: fill 300ms;
}

.social__link:hover path {
    fill: var(--orange);
}

.social__link:active path {
    fill: var(--orange-dark);
}

.column_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 50%;
    padding-top: .5%;
    margin-right: 4.3%;
}

.column__container {
    width: 600px;
}

.footer__heading {
    margin-bottom: 25px;
    color: var(--light-gray);
}

.request__field {
    width: 570px;
    height: 60px;
    margin-bottom: 25px;
    padding-left: 24px;
    color: var(--light-gray);
    background-color: #414141;
    border: none;
    transition: background-color 300ms;
}

.request__field:hover,
.request__field:focus,
.request__field:active {
    background-color: #666;
    outline: none;
}

.textarea {
    height: 150px;
    margin-bottom: 30px;
    padding-top: 3.5%;
}

.request__btn {
    margin-right: 3%;
    padding: 20px 52px;
    transition: background-color 300ms;
}

.request__btn:hover,
.request__btn:focus {
    background-color: var(--orange-light);
    outline: none;
}

.request__btn:active {
    background-color: var(--orange-dark);
}

.checkbox_hidden {
    z-index: -1;
    opacity: 0;
}

.checkbox_visible {
    display: inline-block;
    position: relative;
    color: var(--light-gray);
}

.checkbox_visible::before {
    content: "";
    position: absolute;
    top: .5px;
    left: -18px;
    width: 13px;
    height: 13px;
    border: 1px solid var(--light-gray);
}

.checkbox_hidden:checked+.checkbox_visible::before {
    background: url(../img/check.svg) center center no-repeat;
}

.column_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.footer__desc {
    width: 70%;
    color: var(--light-gray);
}

@media (max-width: 1680px) {

    .column:not(:last-child) {
        margin-right: 40px;
    }

    .footer__desc {
        width: 100%;
    }

}

@media (max-width: 1280px) {

    .header__nav {
        width: 50%;
    }

    /* Hero */

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 160px 40px;
        background: url(../img/adaptive/hero1_1024.jpg) center center no-repeat;
        background-size: cover;
    }

    .hero__box {
        max-width: 91%;
    }

    .hero__heading {
        margin-bottom: 16px;
        font-size: 60px;
    }

    .hero__desc {
        margin-bottom: 62px;
        font-size: 20px;
    }

     /* About */

     .about__desc {
        max-width: 100%;
        margin-bottom: 6.6%;
    }

    .about__list {
        flex-wrap: nowrap;
        height: auto;
    }

    .about__item {
        max-width: 100%;
    }

    .about__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .about__item_head {
        min-height: 640px;
        margin: 0;
    }

    .about__item-desc_head {
        max-width: 59%;
    }

    .about__item_mini {
        padding: 63px 77px;
    }

    .about__item-desc {
        max-width: 60%;
    }

    /* Work */

    .tabs__list {
        width: 50%;
        margin-bottom: 5.8%;
    }

    .tabs__left {
        width: 47.3%;
    }

    .tabs__desc {
        margin-bottom: 25px;
    }

    .tabs__right {
        width: 47.3%;
        padding-top: 1.3%;
    }

    .tabs__img_1 {
        background: url(../img/adaptive/work1_1024.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_2 {
        background: url(../img/adaptive/work2_1024.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_3 {
        background: url(../img/adaptive/work3_1024.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_4 {
        background: url(../img/adaptive/work4_1024.jpg) center center no-repeat;
        background-size: cover;
    }

     /* Footer */ 

     .footer {
        margin-top: 80px;
        padding: 45px 0;
    }

    .column:not(:last-child) {
        margin-right: 0;
    }

    .column_left {
        width: 30%;
    }

    .column_center {
        width: 70%;
        padding-top: 1%;
    }

    .column__container {
        width: 544px;
    }

    .column_right {
        display: none;
    }

    .footer__nav {
        height: 80%;
    }

    .footer__nav-link {
        font-size: 18px;
    }

    .request__field {
        width: 100%;
    }

    .request__btn {
        padding: 19px 38px;
    }

    .checkbox_visible {
        font-size: 16px;
    }
}


@media (max-width: 1024px) {

    section {
        padding-top: 80px;
    }

    .container {
        max-width: 924px;
    }

    /* Header */

    .header__container {
        position: relative;
        max-width: 932px;
    }

    .burger {
        width: 30px;
        height: 30px;
        display: block;
        margin-left: .5%;
        background: url(../img/adaptive/burger.svg) center center no-repeat;
        transition: background-image .5s ease-in-out;
    }

    .burger:focus {
        outline: 2px solid var(--orange);
    }

    .burger_active {
        background-image: url(../img/adaptive/burger_active.svg);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .drop-menu {
        display: block;
        position: absolute;
        z-index: 10;
        overflow-y: hidden;
        top: 100px;
        left: 24px;
    }

    .drop-menu__list {
        
        min-width: 150px;
        min-height: 250px;
        padding: 40px;
        background-color: rgba(0, 0, 0, .5);
        transition: transform .5s ease-in-out;
        transform: translateY(-101%);
    }

    .drop-menu_active {
        transform: none;
    }
    
    .drop-menu__link {
        line-height: 2em;
        color: #fff;
    }

    .header__logo-img {
        width: 150px;
        height: auto;
    }

    .header__nav {
        max-width: max-content;
    }

    .nav__item {
        display: none;
    }

    .nav__search {
        display: inline-block;
    }

    /* Hero */ 

    .swiper-slide_1 {
        background-image: url(../img/adaptive/hero1_1024.jpg);
    }

    .swiper-slide_2 {
        background-image: url(../img/adaptive/hero2_1024.jpg);
    }

    .swiper-slide_3 {
        background-image: url(../img/adaptive/hero3_1024.jpg);
    }

    /* FAQ */

    .spoiler__title {
        font-size: 20px;
    }

    .spoiler__box {
        max-width: 81%;
    }

    .footer__container {
        max-width: 930px;
    }

}

@media (max-width: 868px) {

    .drop-menu {
        left: 20px;
    }

     /* About */

    .about__desc {
        margin-bottom: 9%;
    }

    .about__item_head {
        min-height: 650px;
    }

    .about__item-content {
        padding: 34px 40px;
    }

    .about__item-desc_head {
        max-width: 62%;
    }

    .about__item_mini {
        padding: 32.5px 40px;
    }

    .about__icon {
        margin-right: 3%;
    }

    .about__item-desc {
        max-width: 78%;
    }

     /* Work */ 

    .tabs__list {
        width: 100%;
        margin-bottom: 6.8%;
    }

    .tabs__content {
        flex-direction: column-reverse;
    }

    .tabs__left {
        width: 100%;
    }

    .tabs__right {
        width: 100%;
        margin-bottom: 5.5%;
        padding: 0;
    }

    .tabs__img {
        height: 284px;
    }

    .tabs__img_1 {
        background: url(../img/adaptive/work1_768.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_2 {
        background: url(../img/adaptive/work2_768.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_3 {
        background: url(../img/adaptive/work3_768.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_4 {
        background: url(../img/adaptive/work4_768.jpg) center center no-repeat;
        background-size: cover;
    }

     /* Footer */

     .footer {
        height: auto;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .column_center {
        justify-content: flex-start;
        width: 100%;
    }

    .column_left {
        padding-top: 45px;
    }

    .footer__logo {
        margin-bottom: 10px;
    }

    .footer__nav-list {
        display: none;
    }

}

@media (max-width: 768px) {

    .container {
        max-width: 668px;
    }

    /* Header */

    .header {
        height: 69px;
    }

    .header__container {
        max-width: 676px;
    }

    .drop-menu {
        top: 69px;
        left: 24px;
    }

    /* Hero */

    .hero__box {
        max-width: 100%;
    }
 
    .hero__heading {
        font-size: 50px;
    }

    .hero__desc {
        font-size: 18px;
    }

    /* FAQ */ 

    .spoiler__box {
        max-width: 86%;
    }
   
}

@media (max-width: 577px) {

    section {
        padding-top: 60px;
    }

    .heading {
        font-size: 24px;
        line-height: 29px;
    }

    .title {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }

    .desc {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
    }

    /* Header */
    
    .drop-menu {
        left: 20px;
    }

    .header__logo {
        padding-top: 2px;
    }

    .header__logo-img {
        width: 110px;
    }

    /* Hero */

    .hero {
        padding: 60px 21px;
    }

    .hero__box {
        text-align: center;
    }

    .hero__heading {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .hero__desc {
        font-size: 12px;
        line-height: 14.66px;
        margin-bottom: 33px;
    }

    .hero__btn {
        padding: 14px 29px;
    }

    /* About */

    .about__heading {
        margin-bottom: 19px;
    }

    .about__desc {
        margin-bottom: 4.5%;
    }

    .about__item_head {
        min-height: 400px;
        background: url(../img/adaptive/about_320.jpg) top center no-repeat;
        background-size: contain;
    }

    .about__item-content {
        flex-wrap: wrap;
        margin-top: 72%;
        padding: 0;
        background: none;
    }

    .about__icon {
        width: 114px;
        height: 99px;
    }

    .about__item-desc_head {
        max-width: 100%;
        margin-bottom: 11px;
        font-weight: 400;
        color: var(--text-color);
    }

    .about__btn {
        padding: 12px 42px;
        color: var(--orange);
        border: 2px solid var(--orange);
    }

    .about__btn:hover,
    .about__btn:active,
    .about__btn:focus {
        color: #fff;
    }

    .about__item_mini {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        border: none;
    }

    .about__item-desc {
        max-width: 100%;
    }

    /* Work */
    
    .work__heading {
        margin-bottom: 20px;
    }

    .tabs__list {
        margin-bottom: 13px;
    }

    .tabs__link {
        font-size: 14px;
    }

    .tabs__item {
        font-size: 14px;
    }

    .ui-tabs .ui-tabs-panel {
        padding: 11px 0 0 0;
    }

    .tabs__right {
        margin-bottom: 20px;
    }

    .tabs__title {
        margin-bottom: 14px;
    }

    .tabs__desc {
        margin-bottom: 16px;
    }

    .tabs__btn {
        padding: 14px 44px;
    }

    .tabs__btn_clear {
        margin-left: 10px;
        padding: 13px 31px;
    }

    .tabs__img {
        height: 160px;
    }

    .tabs__img_1 {
        background: url(../img/adaptive/work1_320.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_2 {
        background: url(../img/adaptive/work2_320.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_3 {
        background: url(../img/adaptive/work3_320.jpg) center center no-repeat;
        background-size: cover;
    }

    .tabs__img_4 {
        background: url(../img/adaptive/work4_320.jpg) center center no-repeat;
        background-size: cover;
    }

    /* FAQ */

    .faq__heading {
        margin-bottom: 16px;
    }

    .faq__item {
        min-height: 108px;
    }

    .spoiler__title {
        margin: 0;
        font-size: 14.3px;
        line-height: 24px;
    }

    .spoiler__svg {
        width: 30px;
        height: 30px;
    }

      /* Footer */ 

      .footer {
        margin-top: 60px;
        padding: 30px 0;
    }

    .footer__heading {
        margin-bottom: 20px;
    }

    .request {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        border-bottom: 1px solid #595959;
    }

    .request__field {
        padding-left: 20px;
        font-size: 14px;
    }

    .textarea {
        margin-bottom: 24.5px;
        padding-top: 20px;
    }

    .request__btn {
        margin-right: 0;
        margin-bottom: 20px;
        padding: 13px 28px;
    }

    .checkbox_hidden {
    position: absolute;
    }

    .checkbox_visible {
        margin-left: 15px;
    }

    .column_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 8px;
    }

    .footer__logo-img {
        width: 131px;
        height: 42px;
    }

    .social__item:not(:last-child) {
        margin-right: 10px;
    }

    .social__icon {
        width: 40px;
        height: 40px;
    }

}

@media (max-width: 320px) {

    .container {
        max-width: 290px;
        padding: 0 10px;
    }

    .header__container {
        max-width: 295px;
    }

    .drop-menu {
        left: 13px;
    }

    .swiper-slide_1 {
        background-image: url(../img/adaptive/hero1_320.jpg);
    }

    .swiper-slide_2 {
        background-image: url(../img/adaptive/hero2_320.jpg);
    }

    .swiper-slide_3 {
        background-image: url(../img/adaptive/hero3_320.jpg);
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 13px;
    }

    .swiper-pagination-bullet {
        --swiper-pagination-bullet-width: 10px;
        --swiper-pagination-bullet-height: 10px;
        --swiper-pagination-bullet-size: 10px;
    }

    .about__icon {
        width: 64px;
        height: 49px;
        margin-bottom: 11px;
    }

    .about__icon_1 {
        background: url(../img/adaptive/Frame\ 39.png) center center no-repeat;
        background-size: contain;
    }

    .about__icon_2 {
        background: url(../img/adaptive/Frame\ 38.png) center center no-repeat;
        background-size: contain;
    }

}